[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rich = "*"
spotipy = "*"
termcolors = "*"

[dev-packages]
neovim = "*"
pylint = "*"
jedi = "*"
black = "*"

[requires]
python_version = "3.11"
